<!DOCTYPE html>

<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>mysite</title>
        <link href="../../assets/css/mysite.css" rel="stylesheet">
        <link href="../../assets/css/board.css" rel="stylesheet">
        <link rel="stylesheet" href="../../assets/css/main.css">   

    </head>

    <body>
        <div id="wrap">
            <div id="header" class="clearfix">
                <h1>MySite</h1>
                
    
                <ul class="clearfix">
                    <li><a href="">로그인</a></li>
                    <li><a href="">회원가입</a></li>
                </ul>
            </div>
            
            <div id="nav">
                <ul class="clearfix">
                    <li><a href="">입사지원서</a></li>
                    <li><a href="">게시판</a></li>
                    <li><a href="">갤러리</a></li>
                    <li><a href="">방명록</a></li>
                </ul>
            </div>



            <div id="contents2" class="clearfix">
                <div id="aside">
                    <h2>갤러리</h2>
                    
                    <ul>
                        <li><a href="">일반갤러리</a></li>
                        <li><a href=""></a>파일첨부연습</li>
                    </ul>
                </div>


                <div id="main">
                  <h3>일반갤러리</h3>

                  <ol>
                    <li>홈</li>
                    <li>갤러리</li>
                    <li>일반갤러리</li>
                   
                  </ol>
                  <br>
                  <hr>

                      <!-- 회원가입버튼-->
                      <br>
                      <div class="btn-area">
                          <button>이미지 올리기</button>
                      </div>
                       <!-- //회원가입버튼-->


                    <fieldset>
                        <div id="contents" class="clearfix">
                            <img id="profile" src="../../../../강의자료/04.html_css/04.html_css/mysite-사이트캡쳐/assets/image/Gangho-dong.jpg"> 작성자:유재석<!--이미지를 건다-->
                        </div>
                    </fieldset>
                    <fieldset>
                        <div id="contents" class="clearfix">
                            <img id="profile" src="../../../../강의자료/04.html_css/04.html_css/mysite-사이트캡쳐/assets/image/Jeongjae-Lee.jpg"> 작성자:유재석<!--이미지를 건다-->
                        </div>
                    </fieldset>
                    <fieldset>
                        <div id="contents" class="clearfix">
                            <img id="profile" src="../../../../강의자료/04.html_css/04.html_css/mysite-사이트캡쳐/assets/image/JeonSoMin.jpg"> 작성자:유재석<!--이미지를 건다-->
                        </div>
                    </fieldset>
                    <fieldset>
                        <div id="contents" class="clearfix">
                            <img id="profile" src="../../../../강의자료/04.html_css/04.html_css/mysite-사이트캡쳐/assets/image/JiseokJin.jpg"> 작성자:유재석<!--이미지를 건다-->
                        </div>
                    </fieldset>
                    <fieldset>
                        <div id="contents" class="clearfix">
                            <img id="profile" src="../../../../강의자료/04.html_css/04.html_css/mysite-사이트캡쳐/assets/image/JungWooSung.jpg"> 작성자:유재석<!--이미지를 건다-->
                        </div>
                    </fieldset>
                </div>
            </div>

            <div id="footer">
                <p>
                    Copyright ⓒ2024 오지원 All right reserved
                </p>
            </div>
        </div>

    </body>    

</html>